<!DOCTYPE html>
<html>
  <head>
    <title>Topic Modeling</title>
    <link rel="stylesheet" href="stylesheet.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;1,200;1,300&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>LDA Topic Modeling</h1>
    <p>Enter an abstract to analyze:</p>
    <form method="post" action="index.html">
      <textarea name="abstract"></textarea>
      <br />
      <input type="submit" value="Submit" />
    </form>

    <h1>Topic Modeling Results</h1>
    <p id="abstract">Input Abstract:</p>
    <script method="get" action="index.html">
      var data = window.location.search;
      var params = new URLSearchParams(data);
      console.log(params);
      var abstracts = params.get("abstracts");
      var getData = "Abstract: " + abstracts + "<br>";
      document.getElementById("abstract").innerHTML = getData;

      {
        {
          abstract;
        }
      }
    </script>
    <p id="labels">Topic Labels:</p>
    <ul>
      <script>
        var labels = params.get("label");
        var data = window.location.search;
        var params = new URLSearchParams(data);
        var getData = "Label: " + { label } + ":" + { score };
        +"<br>";

        document.getElementById("labels").innerHTML = getData;
      </script>
    </ul>
  </body>
</html>
